# InOrbit API key - replace with your actual key
INORBIT_API_KEY=my_super_secret_key
INORBIT_CONNECTION_CONFIG_URL=https://control.inorbit.ai/cloud_sdk_robot_config
INORBIT_API_URL=https://api.inorbit.ai
